<!DOCTYPE html>
<html>
<head>
  <title>Slack sign in</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "slack_sign_in/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
